accelerate
appdirs
arrow
bitsandbytes
datasets
deepspeed
-e git+https://github.com/lm-sys/FastChat.git
huggingface-hub
numpy
pandas
peft @ git+https://github.com/huggingface/peft.git
prompt-toolkit==3.0.38
sacremoses
sentencepiece
tqdm
transformers @ git+https://github.com/huggingface/transformers.git@c612628045822f909020f7eb6784c79700813eda
